*,
::after,
::before {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  position: relative;
  margin: 1rem;
}
.wrapper{
  width: 100%;
  overflow: hidden;
}
.wrapper .inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.wrapper .inner .box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  margin-top: 2.5rem;
  box-shadow: 0px 10px 20px rgb(200, 200, 200);
  border: 3px solid rgba(200, 200, 200, 0.399);
  padding: 2rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.wrapper .inner .box h2{
  display: flex;
  align-items: center;
}
.wrapper .inner .box .item{
  border: 0.1rem solid #9999995a;
  margin: 0 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.wrapper .inner .box .item img{
  max-width: 100%;
  padding-bottom: 1rem;
}
.wrapper .inner .box .item span{
  display: block;
  border: 0.1rem solid #999;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  cursor: pointer;
}
